	<tr class="impress-button">
		<td><%= "#{deck.name}" %></td>
		<td> <%= "#{deck_preview(deck, 30)}" %></td>
		<td><%= link_to "show", deck_path(deck.id) %></td>
		<td><%= link_to "edit", edit_deck_path(deck.id) %></td>
		<td><%= link_to "delete", deck_path(deck.id), :confirm => "Are you sure?", :method => :delete %></td> 
	</tr>
