<tr>
	<td><%= "#{deck.name}: " %></td> <td><%= link_to "Show", deck_path(deck.id) %></td> <td><%= link_to "Edit", edit_deck_path(deck.id) %></td> <td><%= link_to "Delete", deck_path(deck.id), :confirm => "Are you sure?", :method => :delete %></td> <td><%= "Template used: #{deck.template.name}  Preview: #{deck.content[0][0..[deck.content[0].length,30].min]}..." %></td>
</tr>