<div class='navbar'>
  <a class='ux_button button add_slide alter' style="pointer-events: auto;">
    Add step
  </a>

  <a class='ux_button button delete_slide alter' style="pointer-events: auto">
    Remove step
  </a>

	<div class='selectors'>
		Template:
		<select class='temp_dropdown' name='temp_dropdown'>
      <% template_data.each_with_index do |template, i| %>
			  <option value='<%= template[:template_id] %>' <%= " selected='selected'" if deck.template_id == (i + 1) %>><%= template[:name] %></option>
		  <% end %>
		</select>
	
		Font size:
		<select class='size_dropdown' name='size_dropdown'>
			<option value='32' name=<%= " selected='selected'" if deck.template.default_font_size == 24 %>>24</option>
			<option value='32' name=<%= " selected='selected'" if deck.template.default_font_size == 32 %>>32</option>
			<option value='48' name=<%= " selected='selected'" if deck.template.default_font_size == 48 %>>48</option>
			<option value='64' name=<%= " selected='selected'" if deck.template.default_font_size == 64 %>>64</option>
			<option value='80' name=<%= " selected='selected'" if deck.template.default_font_size == 80 %>>80</option>
			<option value='100' name=<%= " selected='selected'" if deck.template.default_font_size == 100 %>>100</option>
		</select>
	</div>
	
	<div id='menu-right'>
		<a id='preview-button' class='button alter' style="pointer-events: auto;" data-logged-in="<%= user_signed_in? %>">Preview</a>
		<a id='help' href='#' class='button alter' style='pointer-events:auto'>Formatting</a>
	</div>
</div>

<div id='preview-mode'>
	<%= link_to "Impress!", impress_button_link_path, :class => 'button alter', 
																										:id => 'impress-button' %>
																										
	<%= link_to "Edit", '#', :class => 'button edit-button alter' %>
</div>
	
