

<div class='circle' style='display:inline-block;opacity:0.5'></div>
<div class='circle eight columns'>
	<h2 class='title'>impressi</h2>
	<div id='separator'>
		<p id='create'><b>create</b> <em>beautiful</em> <span>presentations<span></p>
		<%= render :partial => 'create_deck', :locals => { :deck => @deck } %>
	</div>
</div>

<%= render :partial => 'impress_demo' %>

<div class='creators-footer'>created by <%= link_to '@craiglittle', 'http://www.twitter.com/craiglittle' %>, <%= link_to '@ridesbikes', 'http://www.twitter.com/ridesbikes' %>, <%= link_to '@shail__patel', 'http://www.twitter.com/shail__patel' %>, <%= link_to '@SilasBarta', 'http://www.twitter.com/SilasBarta' %>, and kush.</div>