<!DOCTYPE html>
<html>
<head>
  <title>Impressi - HTML5 </title>
	<%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "impress", :media => "all" %>
	<%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>

	<%= render :partial => 'shared/authentication' %>

	<%= yield %>
	
	<%= javascript_include_tag "impress" %>
	<script>impress();</script>

</body>
</html>