<!DOCTYPE html>
<html>
<head>
  <title>Impressi - HTML5 </title>
	<%= stylesheet_link_tag "application", :media => "all" %>
  <link rel='stylesheet' href="/impress.css" />
	<%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% current_or_guest_user %>
	<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
	<%#= render :partial => 'shared/authentication' %>

	<%= yield %>

	<script src="/impress.js"></script>
	<script>impress();</script>

</body>
</html>